body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url('https://i.pinimg.com/originals/8a/87/d0/8a87d026a278b9608e57ef6eb4bc0254.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
  }
  